fastapi
uvicorn
requests
beautifulsoup4
python-whois
dnspython
urllib3
jinja2
pytest
httpx
joblib
fasttext-wheel
numpy
pandas
scikit-learn
faiss-cpu
pybloom_live
python-Levenshtein
tldextract
tensorboard
tensorflow
python-docx
